<!DOCTYPE html>
<html th:fragment="sidebar" xmlns:th = "https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    sidebar styles-->
    <link rel="stylesheet" href="/css/styles.min.css" type="text/css" />
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="/css/tiny-slider.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style>
        a {
      text-decoration: none;
  }

    </style>

</head>
<body>
<!-- Sidebar navigation-->
<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <h3> <span class="hide-menu">Profile</span></h3>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" style="text-decoration: none;" th:href="@{/home/profile}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Edit Profile</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" th:href="@{/home/manageAddress}" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">manage Address</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" th:href="@{/home/manageAddress}" aria-expanded="false">
                <span>
                <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">manage Address</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Products</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Orders</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" th:href="@{/home/changePassword}" aria-expanded="false">
                <span>
                  <i class="ti ti-typography"></i>
                </span>
                <span class="hide-menu">Change Password</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" th:href="@{/logout}" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">logout</span>
            </a>
        </li>

<!--        <li class="sidebar-item">-->
<!--            <a class="sidebar-link" href="#" aria-expanded="false">-->
<!--                <span>-->
<!--                  <i class="ti ti-mood-happy"></i>-->
<!--                </span>-->
<!--                <span class="hide-menu">Icons</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="sidebar-item">-->
<!--            <a class="sidebar-link" href="#" aria-expanded="false">-->
<!--                <span>-->
<!--                  <i class="ti ti-aperture"></i>-->
<!--                </span>-->
<!--                <span class="hide-menu">Sample Page</span>-->
<!--            </a>-->
<!--        </li>-->
    </ul>
</nav>
<!-- End Sidebar navigation -->
</body>
</html>