<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div th:replace="fragments/adminHeader::aheader"></div>
    <!-- Sidebar Start -->

        <!--  Header End -->
        <!--        Start of category list-->
        <div>
            <h3>hee</h3>
        </div>
        <div class="container mt-5">
            <h2 class="mb-4">Category List</h2>

            <!-- Add Category Button -->
            <a th:href="@{/admin/addCategory}" class="btn btn-primary mb-4">Add Category</a>
            <div class="alert alert-primary my-1" th:if="${message}">
                <p class="text-center" th:text="${message}"></p>
            </div>
            <div class="alert alert-success my-1" th:if="${success}">
                <p class="text-center" th:text="${success}"></p>
            </div>
            <!-- Category Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <!-- Iterate through categories -->
                <tr th:each="category : ${categories}">
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.name}"></td>
                    <td th:text="${category.description}"></td>
                    <td>
                        <!-- List Button -->
                        <div style="display: inline-block;">
                            <form th:if="${ category.isAvailable == false}" th:action="@{/listCategory}" method="post">
                                <input type="hidden" name="userId" th:value="${category.id}" />
                                <button type="submit" class="btn btn-success btn-sm">List</button>
                            </form>
                        </div>
                        <div style="display: inline-block;">
                            <!-- Unlist Button -->
                            <form th:if="${ category.isAvailable == true}" th:action="@{/unListCategory}" method="post">
                                <input type="hidden" name="userId" th:value="${category.id}" />
                                <button type="submit" class="btn btn-warning btn-sm">UnList</button>
                            </form>
                        </div>

                        <!-- Edit Button -->
                        <div style="display: inline-block;">
                            <form  th:action="@{/admin/edit-category/{id}(id=${category.id})}" >
                                <input type="hidden" name="userId" th:value="${category.id}" />
                                <button type="submit" class="btn btn-info btn-sm">Edit</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${categories.totalPages > 1}">
            <ul class="pagination">
                <li th:if="${categories.hasPrevious}" class="page-item">
                    <a th:href="@{'/admin/categories?page=' + (${categories.number - 1}) + '&size=' + ${categories.size}}" class="page-link">Previous</a>
                </li>
                <li th:each="page : ${#numbers.sequence(0, categories.totalPages - 1)}" class="page-item">
                    <a th:href="@{'/admin/categories?page=' + ${page} + '&size=' + ${categories.size}}" th:classappend="${categories.number == page} ? 'active' : ''" class="page-link" th:text="${page + 1}"></a>
                </li>
                <li th:if="${categories.hasNext}" class="page-item">
                    <a th:href="@{'/admin/categories?page=' + (${categories.number + 1}) + '&size=' + ${categories.size}}" class="page-link">Next</a>
                </li>
            </ul>
        </div>



    </div>
            </div>
            <script src="/libs/jquery/dist/jquery.min.js"></script>
            <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="/js/sidebarmenu.js"></script>
            <script src="/js/app.min.js"></script>
            <script src="/libs/apexcharts/dist/apexcharts.min.js"></script>
            <script src="/libs/simplebar/dist/simplebar.js"></script>
            <script src="/js/dashboard.js"></script>
</body>

</html>