<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="/images/logos/favicon.png"  />
    <link rel="stylesheet" href="/css/styles.min.css" type="text/css" />
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <a href="admin.html" class="text-nowrap logo-img">
                    <img th:src="@{images/logos/dark-logo.svg}" width="180" alt="" />
                </a>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <i class="ti ti-x fs-8"></i>
                </div>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Home</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/users" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                            <span class="hide-menu">Users</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/categories" aria-expanded="false">
                <span>
                <i class="ti ti-file-description"></i>
                </span>
                            <span class="hide-menu">Category</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/products" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                            <span class="hide-menu">Products</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                            <span class="hide-menu">Forms</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <i class="ti ti-typography"></i>
                </span>
                            <span class="hide-menu">Typography</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-outline-primary mx-3 mt-2 d-block"> <i class="ti ti-login"></i>logout </button>
                        </form>
                    </li>


                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
                            <span class="hide-menu">Icons</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <i class="ti ti-aperture"></i>
                </span>
                            <span class="hide-menu">Sample Page</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item d-block d-xl-none">
                        <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                            <i class="ti ti-bell-ringing"></i>
                            <div class="notification bg-primary rounded-circle"></div>
                        </a>
                    </li>
                </ul>
                <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                    <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <img src="images/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                <div class="message-body">
                                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                        <i class="ti ti-user fs-6"></i>
                                        <p class="mb-0 fs-3">My Profile</p>
                                    </a>
                                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                        <i class="ti ti-mail fs-6"></i>
                                        <p class="mb-0 fs-3">My Account</p>
                                    </a>
                                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                        <i class="ti ti-list-check fs-6"></i>
                                        <p class="mb-0 fs-3">My Task</p>
                                    </a>
                                    <form th:action="@{/logout}" method="post">
                                        <button type="submit" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--  Header End -->
<!--        Start of userList-->
        <div>
            <h3>hee</h3>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 class="text-center mb-4">User List</h2>
                    <form  th:action="@{/searchUser}" method="get">
                        <div class="form-group">
                            <input type="text" class="form-control-sm" id="search" name="name" placeholder="Search by name " required>
                            <button type="submit" class="btn btn-primary ml-2">Search</button>
                        </div>
                    </form>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Actions</th>
                            <!-- Add more columns as needed -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.phone}"></td>
                            <td th:text="${user.role}"></td>
                            <td>
                                <form th:if="${user.id != 402 && user.active == true}" th:action="@{/block}" method="post">
                                    <input type="hidden" name="userId" th:value="${user.id}" />
                                    <button type="submit" class="btn btn-sm btn-danger" >Block</button>
                                </form>
                                <form th:if="${user.id != 402 && user.active == false}" th:action="@{/unblock}" method="post">
                                    <input type="hidden" name="userId" th:value="${user.id}" />
                                    <button type="submit" class="btn btn-sm btn-success" >Unblock</button>
                                </form>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="alert alert-primary my-1" th:if="${message}">
                        <p class="text-center" th:text="${message}"></p>
                    </div>
                    <div th:if="${users.totalPages > 1}">
                        <ul class="pagination">
                            <li th:if="${users.hasPrevious}" class="page-item">
                                <a th:href="@{'/users?page=' + (${users.number - 1}) + '&size=' + ${users.size}}" class="page-link">Previous</a>
                            </li>
                            <li th:each="page : ${#numbers.sequence(0, users.totalPages - 1)}" class="page-item">
                                <a th:href="@{'/users?page=' + ${page} + '&size=' + ${users.size}}" th:classappend="${users.number == page} ? 'active' : ''" class="page-link" th:text="${page + 1}"></a>
                            </li>
                            <li th:if="${users.hasNext}" class="page-item">
                                <a th:href="@{'/users?page=' + (${users.number + 1}) + '&size=' + ${users.size}}" class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>


                </div>
</div>
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/sidebarmenu.js"></script>
<script src="/js/app.min.js"></script>
<script src="/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="/libs/simplebar/dist/simplebar.js"></script>
<script src="/js/dashboard.js"></script>
</body>

</html>