<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>Modernize Free</title>-->
<!--    <link rel="shortcut icon" type="image/png" href="/images/logos/favicon.png"  />-->
<!--    <link rel="stylesheet" href="/css/styles.min.css" type="text/css" />-->
</head>

<body>
<!--  Body Wrapper -->
 <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

     <div th:replace="fragments/adminHeader::aheader"></div>
    <!-- Sidebar Start -->

        <!--  Header End -->
<!--        Start of userList-->
        <div>
            <h3>hee</h3>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 class="text-center mb-4">User List</h2>
                    <form  th:action="@{/admin/searchUser}" method="get">
                        <div class="form-group">
                            <input type="text" class="form-control-sm" id="search" name="name" placeholder="Search by name " required>
                            <button type="submit" class="btn btn-primary ml-2">Search</button>
                        </div>
                    </form>
                    <div class="alert alert-success my-1" th:if="${success}">
                        <p class="text-center" th:text="${success}"></p>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Actions</th>
                            <!-- Add more columns as needed -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.phone}"></td>
                            <td th:text="${user.role}"></td>
                            <td>
                                <form th:if="${user.id != 402 && user.active == true}" id="blockForm" th:action="@{/block}" method="post" onsubmit="return blockUser()">
                                    <input type="hidden" name="userId" th:value="${user.id}" />
                                    <button type="submit" class="btn btn-sm btn-danger">Block</button>
                                </form>

                                <form th:if="${user.id != 402 && user.active == false}" id="unblockForm" th:action="@{/unblock}" method="post" onsubmit="return unblockUser()">
                                    <input type="hidden" name="userId" th:value="${user.id}" />
                                    <button type="submit" class="btn btn-sm btn-success">Unblock</button>
                                </form>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="alert alert-primary my-1" th:if="${message}">
                        <p class="text-center" th:text="${message}"></p>
                    </div>
                    <div th:if="${users.totalPages > 1}">
                        <ul class="pagination">
                            <li th:if="${users.hasPrevious}" class="page-item">
                                <a th:href="@{'/admin/users?page=' + (${users.number - 1}) + '&size=' + ${users.size}}" class="page-link">Previous</a>
                            </li>
                            <li th:each="page : ${#numbers.sequence(0, users.totalPages - 1)}" class="page-item">
                                <a th:href="@{'/admin/users?page=' + ${page} + '&size=' + ${users.size}}" th:classappend="${users.number == page} ? 'active' : ''" class="page-link" th:text="${page + 1}"></a>
                            </li>
                            <li th:if="${users.hasNext}" class="page-item">
                                <a th:href="@{'/admin/users?page=' + (${users.number + 1}) + '&size=' + ${users.size}}" class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>


                </div>
</div>

            <script>
                function blockUser() {
            swal({
            title: "Block User",
            text: "You want to block the user.",
            icon: "success",
            button: "click",
            }).then((result) => {
            if (result.isConfirmed) {
            // Perform actions after the confirmation (e.g., continue with the form submission)
            $.ajax({
            url: '/block',
            type: 'POST',
            data: $('#blockForm').serialize(),
            success: function(response) {
            // Handle the server response here (e.g., display a success message)
            },
            error: function(xhr, status, error) {
            // Handle the error here (e.g., display an error message)
            }
            });
            }
            });
            }

            function unblockUser() {
            swal({
            title: "Unblock User",
            text: "You want to unblock the user.",
            icon: "success",
            button: "click",
            }).then((result) => {
            if (result.isConfirmed) {
            // Perform actions after the confirmation (e.g., continue with the form submission)
            $.ajax({
            url: '/unblock',
            type: 'POST',
            data: $('#unblockForm').serialize(),
            success: function(response) {
            // Handle the server response here (e.g., display a success message)
            },
            error: function(xhr, status, error) {
            // Handle the error here (e.g., display an error message)
            }
            });
            }
            });
            }
            </script>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/sidebarmenu.js"></script>
<script src="/js/app.min.js"></script>
<script src="/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="/libs/simplebar/dist/simplebar.js"></script>
<script src="/js/dashboard.js"></script>
</body>

</html>